.resultsSubContainer {
  border: 6px solid black;
  border-radius: 25px;
  min-height: 500px;
  min-width: 400px;
  background-color: #bd4aff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hr {
  width: 90%; 
  margin: 0 auto;
  border-top: 3px solid white;
}

h2,
.playListName  {
  font-size: 2rem;
  padding: 16px;
  margin-bottom: 0.5rem;
  background-color: #5b2d75;
  color: #fb9553;
  border: 4px solid #000000;
  border-radius: 25px;
}

.li {
  list-style-type: none;
  font-weight: bold;
  margin: 15px 5px;
}


