.btnSubmit {
  height: 2.5rem;
  width: 5rem;
  border: 3px solid #9f3647;
  border-radius: 25px;
  color: white;
  background-color: black;
  transition: 0.5s ease;
}

.btnSubmit:hover {
  font-weight: bold;
  transform: scale(1.1);
  background-color: #fb9553;
  color: black;
}