.nameYourPlaylist {
  border: 4px solid #000;
  border-radius: 5px;
  text-align: center;
  width: 200px;
}

.div {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5d2747;
  border: 4px solid black;
  border-radius: 25px;
  padding: 16px;
  height: 5rem;
}
