* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #8616c7;
  background-image:
    radial-gradient(#bd4aff 9px, transparent 10px),
    repeating-radial-gradient(#bd4aff 0, #bd4aff 4px, transparent 5px, transparent 20px, #bd4aff 21px, #bd4aff 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  /* This background was made by Divya Manian (https://nimbupani.com/) */
}